/* Base Styles */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color-dark);
  color: var(--font-color-light);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the body takes the full height of the viewport */
}

.container {
  max-width: 800px;
  margin: var(--margin) auto;
  padding: var(--padding);
  background-color: #333;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}


.create-todo-container {
  flex: 1;
  margin-right: var(--margin);
}

.todos-container {
  flex: 2;
}
